@font-face {
        font-family: myFont;
        src: url('src\assets\fonts\Garet-Book.woff2') format('woff2');
      }
      :root{
        --font-color: rebeccapurple;
      }
      *{
        font-family: myFont;
        border: 0;
        margin: 0;
        padding: 0;
        color: white;
        box-sizing: border-box;
      }
      /* BUTTONS */
      button{
        all: unset;
        box-sizing: border-box;
        width: 100%;
        height: 15%;
        text-align: center;
        background-color: #333;
        font-size: 1.2rem;
    }
    .button-active{
        background-color: #121212;
        font-weight: bolder;
        color: #bb9650;
    }
    .button-active:hover{
        background-color: #121212;
        font-size: 1.2rem;
    }
    button:hover{
        cursor: pointer;
        background-color: #444;
        font-size: 1.25rem;
    }
    /* INPUTS */
    input{
        all: unset;
        width: 47%;
        height: 100%;
        background-color: #333;
        border-radius: 5px;
        color: rgb(187, 150, 80);
        font-size: 1rem;
        padding: 0 1%;
    }
    input::placeholder{
        text-align: center;
    }
    select{
        width: 49%;
        height: 100%;
        background-color: #333;
        border-radius: 5px;
        font-size: 1rem;
        padding: 0 1%;
        color:  rgb(187, 150, 80);
    }
    /* ERRORS */
    .error{
        font-size: 0.8rem;
        color: rgb(255, 72, 0);
    }
    .invalid{
        border: 1px solid red;
    }
    /* CONTAINERS */

    /* full size flex... NOT -FUCK SHIT FUCK!!!*/
    .fsf{
        width: 100%;
        height: 100%;
        display: flex;
        min-height: 0;
    }
    .parent-view{
        flex-direction: column;
    }
    .footer-buttons{
        display: flex;
        flex: 1;
    }
    .modify-container{
        flex: 9;
        display: flex;
        flex-direction: column;
    }
    .field{
        display: flex;
        flex: 1;
        flex-direction: column;
    }
    .pee{
        display: flex;
        flex: 1;
        align-items:start;
        min-height: 1.5rem;
    }
    .pee-input{
        display: flex;
        flex: 2;
        min-height: 1rem;
    }
    .own-input{
        width: 98%;
        background-color: #222;
    }
    .search-result{
        flex-direction: column;
        background-color: #111;
        padding: 2%;
        border-radius: 5px;
    }
    .title{
        flex: 1;
        min-height: 2rem;
        width: 100%;
        background-color: #333;
        border-radius: 5px;
        align-items: center;
        padding-left: 1%;
        margin-bottom: 2%;
        display: flex;
        align-items: center;
    }
    h3{
        font-size: 2rem;
        color: var(--font-color);
    }

    /* LIST AND CONTENT */
    ul{
        list-style: none;
        min-height: 0;
        width: 100%;
        padding: 1%;
        overflow-y: auto;
    }
    li{
        font-size: 1rem;
        color: var(--font-color);
    }
    li > p{
        color: var(--font-color);
    }
    li:hover{
        cursor: pointer;
    }
    .selected{
        background-color: #222;
        border-radius: 5px;
    }
    label{
        flex: 1;
        display: flex;
        flex-direction: column;
        margin-top: 4%;
    }
    strong{
        font-size: 1.3rem;
        margin-bottom: 2%;
    }