@font-face {
        font-family: myFont;
        src: url('src\assets\fonts\Garet-Book.woff2') format('woff2');
      }
      *{
        font-family: myFont;
        border: 0;
        margin: 0;
        padding: 0;
        color: white;
        box-sizing: border-box;
      }
      /* BUTTONS */
      button{
        all: unset;
        box-sizing: border-box;
        width: 100%;
        height: 15%;
        text-align: center;
        background-color: #333;
        font-size: 1.2rem;
    }
    .button-active{
        background-color: #121212;
        font-weight: bolder;
        color: rgb(187, 150, 80);
    }
    .button-active:hover{
        background-color: #121212;
        font-size: 1.2rem;
    }
    button:hover{
        cursor: pointer;
        background-color: #444;
        font-size: 1.25rem;
    }
    /* INPUTS */
    input{
        all: unset;
        width: 47%;
        height: 100%;
        background-color: #333;
        border-radius: 5px;
        color: rgb(187, 150, 80);
        font-size: 1rem;
        padding: 0 1%;
    }
    input::placeholder{
        text-align: center;
    }
    select{
        width: 49%;
        height: 100%;
        background-color: #333;
        border-radius: 5px;
        font-size: 1rem;
        padding: 0 1%;
        color:  rgb(187, 150, 80);
    }
    /* ERRORS */
    .error{
        font-size: 0.8rem;
        color: rgb(255, 72, 0);
    }
    .invalid{
        border: 1px solid red;
    }
    /* CONTAINERS */
    .fsf{
        width: 100%;
        height: 100%;
        display: flex;
    }
    .parent-view{
        flex-direction: column;
    }
    .footer-buttons{
        flex: 1;
    }
    .field{
        display: flex;
        flex: 1;
        flex-direction: column;
    }
    .pee{
        display: flex;
        flex: 1;
        align-items:start;
        min-height: 1.5rem;
    }
    .pee-input{
        display: flex;
        flex: 2;
    }
    