@font-face {
        font-family: myFont;
        src: url('src\assets\fonts\Garet-Book.woff2') format('woff2');
      }

      *{
        font-family: myFont;
        border: 0;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      button{
        all: unset;
        width: 100%;
        height: 15%;
        text-align: center;
        border-color: #444;
        background-color: #333;
        font-size: 1.2rem;
        color: white;
    }
    button:hover{
        cursor: pointer;
        background-color: #444;
        font-size: 1.25rem;
    }